.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  margin: 4rem;
  background: url('../tree-star.jpg') no-repeat fixed;
  background-size: cover;
  color: white;

  @media(max-width: 1000px) {
    height: 120vh;
    background: url('../tree-star.jpg') no-repeat right bottom fixed;
    background-size: cover;
  }

  @media(max-width: 500px) {
    height: 85vh;
    background: url('../tree-star.jpg') no-repeat right bottom fixed;
    background-size: cover;
  }

  &-text {
    justify-content: flex-start;
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

@media (max-width: 500px) {
  .contact-text {
    font-size: 1rem;
  }

  .email {
    font-size: 0.8rem;
  }
}
