.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  margin: 4rem;
  // padding: 1rem;
  background: url('../bridge.jpg') no-repeat fixed;
  background-size: cover;
  color: white;

  &-text {
    justify-content: flex-start;
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
