.hero {
  padding: 4rem;

  &-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    background: url('../blackwhitetree.jpg') no-repeat center center fixed;
    @media(max-width: 1000px) {
      background: url('../blackwhitetree.jpg') no-repeat fixed;
      background-size: cover;
    }
    @media(max-width: 500px) {
      background: url('../blackwhitetree.jpg') no-repeat fixed;
      background-size: cover;
    }

    &__title {
      margin: 2rem;
      color: white;
      font-size: 3rem;
    }

    &__tag {
      margin: 2rem;
      color: white;
      font-size: 2rem;
    }
  }
}

.orange {
  color: #ff8200;

  a {
    color: #ff8200;
  }
}
