.pad {
  padding: 4rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
    flex-grow: 1;
    width: calc(100% / 3);
    min-width: 15.5rem;
    margin: 0 auto;

    a {
      max-width: 100%;

    }

    &:hover {
      .grid__item-pic {
        transition: 0.7s;
        filter: brightness(100%);
      }

      .grid__item-content {
        display: none;
      }
    }

    &-content {
      position: absolute;
      top: 10%;
      flex-basis: 100%;
      margin: 0;
      padding: 0.5rem;
      color: white;
      font-family: 'Roboto Condensed', sans-serif;
      text-align: center;

      &-title {
        text-align: center;
      }
    }

    &-pic {
      display: block;
      width: 100%;
      height: 15rem;
      margin: 0;
      object-fit: cover;
      filter: brightness(20%);

    }
  }
}
@media(max-width: 1000px) {
  .grid-item {
    flex-grow: 1;
    width: calc(100% / 2);
  }
}
@media(max-width: 500px) {
  .grid {
    flex-direction: column;
    max-width: 100%;
  }

  .grid-item {
    flex-grow: 1;
    width: calc(100% / 1);
    max-width: 100%;
  }
}
