.left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 50%;
  min-width: 22.6rem;
  height: 90vh;
  background: url('../plankbridge.jpg') no-repeat center fixed;

  &-skill {
    color: white;
    font-size: 3rem;
    text-align: center;
  }
}

.right {
  display: flex;
  flex-grow: 1;

  &-skill {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 4rem;
    vertical-align: middle;
  }
}

.skillz {
  font-size: 1.75rem;
}
