.skill-section {
  padding: 4rem;
}

.skill {
  display: flex;
  // flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  width: 100%;
  height: 70vh;
  background: url('../plankbridge.jpg') no-repeat center fixed;

  &-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin: 1rem;
    padding: 1rem;


    &__item {
      margin: 0.5rem 1rem;
      color: white;
    }
  }
}
